<section id="big_one">
   <textarea id="text_area">{{textAreaOutput$ | async}}</textarea>
</section>
<section id="small_one">
   <button mat-button id="time_event" (click)="emitRandomValue()">
      Emit random value
   </button>

   <button mat-button id="time_event" (click)="toggleInterval()">
      Toggle Interval
   </button>

   <button mat-button id="time_event">
      Clear (TODO)
   </button>

   <form [formGroup]="inputForm">
      <mat-form-field>
         <mat-label>Propagate</mat-label>
         <input matInput formControlName="propagate" type="text">
      </mat-form-field>
   </form>

   TODO: FILTER



   <mat-slide-toggle class="dark_mode">Filter</mat-slide-toggle>

   <div class="panel">
      TODO: Status:<br>
      TODO: Timer On/Off<br>
      TODO: Last input:<br>
      TODO: Filter: On/Off<br>
      TODO: Filter values:<br>
   </div>
</section>