<section id="big_one">
   <textarea id="text_area">{{textAreaOutput$ | async}}</textarea>
</section>
<section id="small_one">
   <button mat-button id="time_event" (click)="emitRandomValue()">
      Emit random value
   </button>

   <button mat-button id="time_event" (click)="toggleInterval()">
      Toggle Interval
   </button>

   <button mat-button id="time_event" (click)="clearAll()">
      Clear
   </button>

   <form [formGroup]="inputForm">
      <mat-form-field>
         <mat-label>Propagate</mat-label>
         <input matInput formControlName="propagate" type="text">
      </mat-form-field>
   </form>


   <form [formGroup]="inputForm">
      <mat-form-field>
         <mat-label>Kopytka</mat-label>
         <input matInput formControlName="kopytka" type="text">
      </mat-form-field>
   </form>>

   TODO: FILTER
   <mat-slide-toggle class="dark_mode" (change)="displayFilterInfo()">Filter</mat-slide-toggle>


   <div class="panel">
      TODO: Status:<br>
         <div class="timer_on_off">
            TODO: Timer: {{on_offInfo$ |async}} <br>
         </div>
         <div class="last_input">
            TODO: Last input: {{lastInput$ |async}}<br>
         </div>
         <div class="filer_on_off">
            TODO: Filter: {{on_offFilterInfo$ |async}} <br>
         </div>
      TODO: Filter values:<br>
   </div>
</section>