
<router-outlet></router-outlet>



<mat-sidenav-container>
    <mat-sidenav hasBackdrop="false" mode="side" opened="true" disableClose="true">
        <li>
            <a routerLink="/" routerLinkActive="active" class="nav-link">Start</a>
            <a routerLink="testowa" routerLinkActive="active"class="nav-link">Testowa</a>
            <a routerLink="componenty" routerLinkActive="active"class="nav-link">Componenty</a>
            <a routerLink="info-page" routerLinkActive="active" class="nav-link">Info-page</a>
            <a routerLink="rxjs-learning" routerLinkActive="active" class="nav-link">RXJS-learning</a>
            
        </li>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>



</mat-sidenav-container>

